# Server Port
PORT=3000

# Default Docker Registry V2 URL
DEFAULT_REGISTRY_URL=http://10.0.3.51:5000

# HTTP Request Timeout in milliseconds
HTTP_TIMEOUT=10000

# Maximum buffer size for exec commands in bytes (default: 10MB)
EXEC_MAX_BUFFER=10485760

# Target Architecture for Docker images manifest lookup
TARGET_ARCH=amd64
